##ignore the following files

.DS_Store

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*

# maven ignore
target/
*.jar
*.war
*.zip
*.tar

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
log/
logs/
*.doc
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
Thumbs.db

# h2 data
*.db