

.link {
  font-size: 30px;
  padding: 16px 0px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg, #399cff, #00c775 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link p {
  margin: 0;
}

.link:hover{
  border-bottom: solid 2px;
}

.link:active {
  transform: translateY(1px);
}